{
    "br1": {
        "x": 2,
        "y": 2,
        "rotation": 0,
        "width": 236,
        "height": 24
    },
    "gate": {
        "x": 2,
        "y": 30,
        "rotation": 0,
        "width": 112,
        "height": 176
    },
    "garch": {
        "x": 118,
        "y": 30,
        "rotation": 0,
        "width": 144,
        "height": 96
    },
    "bg2": {
        "x": 266,
        "y": 30,
        "rotation": 90,
        "width": 42,
        "height": 136
    },
    "fbg4": {
        "x": 2,
        "y": 210,
        "rotation": 0,
        "width": 80,
        "height": 130
    },
    "pillar_v": {
        "x": 406,
        "y": 30,
        "rotation": 90,
        "width": 32,
        "height": 128
    },
    "pillar": {
        "x": 266,
        "y": 76,
        "rotation": 0,
        "width": 128,
        "height": 32
    },
    "sc_red": {
        "x": 86,
        "y": 210,
        "rotation": 0,
        "width": 120,
        "height": 120
    },
    "sc_green": {
        "x": 210,
        "y": 210,
        "rotation": 0,
        "width": 120,
        "height": 120
    },
    "sc_blue": {
        "x": 334,
        "y": 210,
        "rotation": 0,
        "width": 120,
        "height": 120
    },
    "fbg1": {
        "x": 458,
        "y": 210,
        "rotation": 0,
        "width": 80,
        "height": 120
    },
    "bg3": {
        "x": 118,
        "y": 130,
        "rotation": 90,
        "width": 64,
        "height": 112
    },
    "br2": {
        "x": 242,
        "y": 2,
        "rotation": 90,
        "width": 16,
        "height": 104
    },
    "bg13": {
        "x": 234,
        "y": 130,
        "rotation": 90,
        "width": 44,
        "height": 104
    },
    "bg4": {
        "x": 542,
        "y": 210,
        "rotation": 0,
        "width": 64,
        "height": 104
    },
    "fbg3": {
        "x": 2,
        "y": 344,
        "rotation": 0,
        "width": 56,
        "height": 104
    },
    "en3": {
        "x": 610,
        "y": 210,
        "rotation": 90,
        "width": 96,
        "height": 48
    },
    "wt_17": {
        "x": 62,
        "y": 344,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "wt_16": {
        "x": 162,
        "y": 344,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "wt_15": {
        "x": 262,
        "y": 344,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "wt_14": {
        "x": 362,
        "y": 344,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "win2": {
        "x": 462,
        "y": 344,
        "rotation": 90,
        "width": 48,
        "height": 96
    },
    "fol3": {
        "x": 2,
        "y": 452,
        "rotation": 0,
        "width": 66,
        "height": 88
    },
    "fol2": {
        "x": 72,
        "y": 452,
        "rotation": 0,
        "width": 66,
        "height": 88
    },
    "crate": {
        "x": 142,
        "y": 452,
        "rotation": 0,
        "width": 88,
        "height": 88
    },
    "bus": {
        "x": 234,
        "y": 452,
        "rotation": 0,
        "width": 88,
        "height": 88
    },
    "bg1": {
        "x": 326,
        "y": 452,
        "rotation": 0,
        "width": 88,
        "height": 88
    },
    "fol1": {
        "x": 418,
        "y": 452,
        "rotation": 0,
        "width": 67,
        "height": 80
    },
    "spike": {
        "x": 342,
        "y": 130,
        "rotation": 0,
        "width": 80,
        "height": 40
    },
    "bg9": {
        "x": 538,
        "y": 30,
        "rotation": 90,
        "width": 32,
        "height": 80
    },
    "fbg6": {
        "x": 350,
        "y": 2,
        "rotation": 0,
        "width": 80,
        "height": 8
    },
    "fbg2": {
        "x": 489,
        "y": 452,
        "rotation": 0,
        "width": 80,
        "height": 80
    },
    "rock2": {
        "x": 573,
        "y": 452,
        "rotation": 0,
        "width": 75,
        "height": 60
    },
    "rock1": {
        "x": 2,
        "y": 544,
        "rotation": 0,
        "width": 75,
        "height": 67
    },
    "saw4": {
        "x": 398,
        "y": 76,
        "rotation": 90,
        "width": 24,
        "height": 72
    },
    "saw3": {
        "x": 474,
        "y": 76,
        "rotation": 90,
        "width": 24,
        "height": 72
    },
    "saw2": {
        "x": 550,
        "y": 76,
        "rotation": 0,
        "width": 72,
        "height": 24
    },
    "saw1": {
        "x": 426,
        "y": 130,
        "rotation": 0,
        "width": 72,
        "height": 24
    },
    "bg8": {
        "x": 562,
        "y": 344,
        "rotation": 90,
        "width": 32,
        "height": 72
    },
    "bg7": {
        "x": 62,
        "y": 396,
        "rotation": 90,
        "width": 32,
        "height": 64
    },
    "fbg5": {
        "x": 434,
        "y": 2,
        "rotation": 0,
        "width": 56,
        "height": 8
    },
    "fol6": {
        "x": 502,
        "y": 130,
        "rotation": 0,
        "width": 50,
        "height": 24
    },
    "fol5": {
        "x": 556,
        "y": 130,
        "rotation": 0,
        "width": 50,
        "height": 24
    },
    "fol4": {
        "x": 610,
        "y": 130,
        "rotation": 0,
        "width": 50,
        "height": 24
    },
    "bw10": {
        "x": 130,
        "y": 396,
        "rotation": 0,
        "width": 48,
        "height": 24
    },
    "bw8": {
        "x": 182,
        "y": 396,
        "rotation": 90,
        "width": 24,
        "height": 48
    },
    "bw7": {
        "x": 81,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw6": {
        "x": 133,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw5": {
        "x": 185,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw4": {
        "x": 237,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw3": {
        "x": 289,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw2": {
        "x": 341,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw1": {
        "x": 393,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml17": {
        "x": 445,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml16": {
        "x": 497,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml15": {
        "x": 549,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml14": {
        "x": 601,
        "y": 544,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml13": {
        "x": 2,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml12": {
        "x": 54,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml11": {
        "x": 106,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml10": {
        "x": 158,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml9": {
        "x": 210,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml8": {
        "x": 262,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml7": {
        "x": 314,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml6": {
        "x": 366,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml5": {
        "x": 418,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml4": {
        "x": 470,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml3": {
        "x": 522,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml2": {
        "x": 574,
        "y": 615,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml1": {
        "x": 2,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en16": {
        "x": 54,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en15": {
        "x": 106,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en14": {
        "x": 158,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en13": {
        "x": 210,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en12": {
        "x": 262,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en11": {
        "x": 314,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en10": {
        "x": 366,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en9": {
        "x": 418,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en8": {
        "x": 470,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en7": {
        "x": 522,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en6": {
        "x": 574,
        "y": 667,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en5": {
        "x": 2,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en4": {
        "x": 54,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en2": {
        "x": 106,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en1": {
        "x": 158,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bg6": {
        "x": 626,
        "y": 615,
        "rotation": 0,
        "width": 32,
        "height": 48
    },
    "bg5": {
        "x": 626,
        "y": 667,
        "rotation": 90,
        "width": 48,
        "height": 32
    },
    "wt_13": {
        "x": 210,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_12": {
        "x": 262,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_11": {
        "x": 314,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_10": {
        "x": 366,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_9": {
        "x": 418,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_8": {
        "x": 470,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_7": {
        "x": 522,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_6": {
        "x": 574,
        "y": 719,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_5": {
        "x": 2,
        "y": 771,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_4": {
        "x": 54,
        "y": 771,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_3": {
        "x": 106,
        "y": 771,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_2": {
        "x": 158,
        "y": 771,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_1": {
        "x": 210,
        "y": 771,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "win1": {
        "x": 262,
        "y": 771,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bg14": {
        "x": 622,
        "y": 30,
        "rotation": 0,
        "width": 32,
        "height": 24
    },
    "bg11": {
        "x": 626,
        "y": 719,
        "rotation": 0,
        "width": 32,
        "height": 32
    },
    "bg10": {
        "x": 626,
        "y": 76,
        "rotation": 0,
        "width": 32,
        "height": 24
    },
    "bw11": {
        "x": 638,
        "y": 344,
        "rotation": 0,
        "width": 24,
        "height": 24
    },
    "bw9": {
        "x": 234,
        "y": 396,
        "rotation": 0,
        "width": 24,
        "height": 24
    }
}