{
    "st_light": {
        "x": 2,
        "y": 2,
        "rotation": 0,
        "width": 96,
        "height": 296
    },
    "br1": {
        "x": 102,
        "y": 2,
        "rotation": 0,
        "width": 236,
        "height": 24
    },
    "gate": {
        "x": 102,
        "y": 30,
        "rotation": 0,
        "width": 112,
        "height": 200
    },
    "garch": {
        "x": 218,
        "y": 30,
        "rotation": 0,
        "width": 144,
        "height": 96
    },
    "bg2": {
        "x": 366,
        "y": 30,
        "rotation": 90,
        "width": 42,
        "height": 136
    },
    "fbg4": {
        "x": 218,
        "y": 130,
        "rotation": 90,
        "width": 80,
        "height": 130
    },
    "pillar_v": {
        "x": 506,
        "y": 30,
        "rotation": 90,
        "width": 32,
        "height": 128
    },
    "pillar": {
        "x": 366,
        "y": 76,
        "rotation": 0,
        "width": 128,
        "height": 32
    },
    "fbg1": {
        "x": 352,
        "y": 130,
        "rotation": 90,
        "width": 80,
        "height": 120
    },
    "sc_red": {
        "x": 2,
        "y": 302,
        "rotation": 0,
        "width": 120,
        "height": 120
    },
    "sc_green": {
        "x": 126,
        "y": 302,
        "rotation": 0,
        "width": 120,
        "height": 120
    },
    "sc_blue": {
        "x": 250,
        "y": 302,
        "rotation": 0,
        "width": 120,
        "height": 120
    },
    "bg3": {
        "x": 476,
        "y": 130,
        "rotation": 90,
        "width": 64,
        "height": 112
    },
    "fbg3": {
        "x": 592,
        "y": 130,
        "rotation": 90,
        "width": 56,
        "height": 104
    },
    "bg13": {
        "x": 102,
        "y": 234,
        "rotation": 90,
        "width": 44,
        "height": 104
    },
    "bg4": {
        "x": 374,
        "y": 302,
        "rotation": 0,
        "width": 64,
        "height": 104
    },
    "br2": {
        "x": 342,
        "y": 2,
        "rotation": 90,
        "width": 16,
        "height": 104
    },
    "wt_17": {
        "x": 442,
        "y": 302,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "wt_16": {
        "x": 542,
        "y": 302,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "wt_15": {
        "x": 442,
        "y": 354,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "wt_14": {
        "x": 542,
        "y": 354,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "win2": {
        "x": 2,
        "y": 426,
        "rotation": 0,
        "width": 48,
        "height": 96
    },
    "en3": {
        "x": 54,
        "y": 426,
        "rotation": 0,
        "width": 96,
        "height": 48
    },
    "bg1": {
        "x": 2,
        "y": 526,
        "rotation": 0,
        "width": 88,
        "height": 88
    },
    "crate": {
        "x": 94,
        "y": 526,
        "rotation": 0,
        "width": 88,
        "height": 88
    },
    "bus": {
        "x": 186,
        "y": 526,
        "rotation": 0,
        "width": 88,
        "height": 88
    },
    "fol3": {
        "x": 278,
        "y": 526,
        "rotation": 0,
        "width": 66,
        "height": 88
    },
    "fol2": {
        "x": 348,
        "y": 526,
        "rotation": 0,
        "width": 66,
        "height": 88
    },
    "fbg6": {
        "x": 450,
        "y": 2,
        "rotation": 0,
        "width": 80,
        "height": 8
    },
    "fbg2": {
        "x": 418,
        "y": 526,
        "rotation": 0,
        "width": 80,
        "height": 80
    },
    "bg9": {
        "x": 498,
        "y": 76,
        "rotation": 90,
        "width": 32,
        "height": 80
    },
    "spike": {
        "x": 210,
        "y": 234,
        "rotation": 0,
        "width": 80,
        "height": 40
    },
    "fol1": {
        "x": 502,
        "y": 526,
        "rotation": 0,
        "width": 67,
        "height": 80
    },
    "rock2": {
        "x": 573,
        "y": 526,
        "rotation": 0,
        "width": 75,
        "height": 60
    },
    "rock1": {
        "x": 2,
        "y": 618,
        "rotation": 0,
        "width": 75,
        "height": 67
    },
    "bg8": {
        "x": 582,
        "y": 76,
        "rotation": 90,
        "width": 32,
        "height": 72
    },
    "saw4": {
        "x": 294,
        "y": 234,
        "rotation": 90,
        "width": 24,
        "height": 72
    },
    "saw3": {
        "x": 370,
        "y": 234,
        "rotation": 90,
        "width": 24,
        "height": 72
    },
    "saw2": {
        "x": 446,
        "y": 234,
        "rotation": 0,
        "width": 72,
        "height": 24
    },
    "saw1": {
        "x": 522,
        "y": 234,
        "rotation": 0,
        "width": 72,
        "height": 24
    },
    "bg7": {
        "x": 154,
        "y": 426,
        "rotation": 90,
        "width": 32,
        "height": 64
    },
    "fbg5": {
        "x": 534,
        "y": 2,
        "rotation": 0,
        "width": 56,
        "height": 8
    },
    "sh3": {
        "x": 642,
        "y": 302,
        "rotation": 90,
        "width": 34,
        "height": 53
    },
    "sh4": {
        "x": 638,
        "y": 30,
        "rotation": 90,
        "width": 32,
        "height": 52
    },
    "fol6": {
        "x": 598,
        "y": 234,
        "rotation": 0,
        "width": 50,
        "height": 24
    },
    "fol5": {
        "x": 642,
        "y": 354,
        "rotation": 0,
        "width": 50,
        "height": 24
    },
    "fol4": {
        "x": 222,
        "y": 426,
        "rotation": 0,
        "width": 50,
        "height": 24
    },
    "wt_13": {
        "x": 81,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_12": {
        "x": 133,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_11": {
        "x": 185,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_10": {
        "x": 237,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_9": {
        "x": 289,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_8": {
        "x": 341,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_7": {
        "x": 393,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_6": {
        "x": 445,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_5": {
        "x": 497,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_4": {
        "x": 549,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_3": {
        "x": 601,
        "y": 618,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_2": {
        "x": 2,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "wt_1": {
        "x": 54,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "win1": {
        "x": 106,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bg6": {
        "x": 54,
        "y": 478,
        "rotation": 90,
        "width": 32,
        "height": 48
    },
    "bg5": {
        "x": 106,
        "y": 478,
        "rotation": 0,
        "width": 48,
        "height": 32
    },
    "en16": {
        "x": 158,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en15": {
        "x": 210,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en14": {
        "x": 262,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en13": {
        "x": 314,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en12": {
        "x": 366,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en11": {
        "x": 418,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en10": {
        "x": 470,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en9": {
        "x": 522,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en8": {
        "x": 574,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en7": {
        "x": 626,
        "y": 689,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en6": {
        "x": 2,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en5": {
        "x": 54,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en4": {
        "x": 106,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en2": {
        "x": 158,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "en1": {
        "x": 210,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml17": {
        "x": 262,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml16": {
        "x": 314,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml15": {
        "x": 366,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml14": {
        "x": 418,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml13": {
        "x": 470,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml12": {
        "x": 522,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml11": {
        "x": 574,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml10": {
        "x": 626,
        "y": 741,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml9": {
        "x": 2,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml8": {
        "x": 54,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml7": {
        "x": 106,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml6": {
        "x": 158,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml5": {
        "x": 210,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml4": {
        "x": 262,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml3": {
        "x": 314,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml2": {
        "x": 366,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "dml1": {
        "x": 418,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw13": {
        "x": 470,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw12": {
        "x": 522,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw10": {
        "x": 276,
        "y": 426,
        "rotation": 0,
        "width": 48,
        "height": 24
    },
    "bw8": {
        "x": 328,
        "y": 426,
        "rotation": 90,
        "width": 24,
        "height": 48
    },
    "bw7": {
        "x": 574,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw6": {
        "x": 626,
        "y": 793,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw5": {
        "x": 2,
        "y": 845,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw4": {
        "x": 54,
        "y": 845,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw3": {
        "x": 106,
        "y": 845,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw2": {
        "x": 158,
        "y": 845,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "bw1": {
        "x": 210,
        "y": 845,
        "rotation": 0,
        "width": 48,
        "height": 48
    },
    "sh2": {
        "x": 658,
        "y": 76,
        "rotation": 0,
        "width": 34,
        "height": 11
    },
    "sh1": {
        "x": 658,
        "y": 91,
        "rotation": 0,
        "width": 34,
        "height": 11
    },
    "bg14": {
        "x": 652,
        "y": 234,
        "rotation": 0,
        "width": 32,
        "height": 24
    },
    "bg11": {
        "x": 158,
        "y": 478,
        "rotation": 0,
        "width": 32,
        "height": 32
    },
    "bg10": {
        "x": 380,
        "y": 426,
        "rotation": 0,
        "width": 32,
        "height": 24
    },
    "bw11": {
        "x": 416,
        "y": 426,
        "rotation": 0,
        "width": 24,
        "height": 24
    },
    "bw9": {
        "x": 444,
        "y": 426,
        "rotation": 0,
        "width": 24,
        "height": 24
    },
    "sh6": {
        "x": 594,
        "y": 2,
        "rotation": 0,
        "width": 6,
        "height": 6
    },
    "sh5": {
        "x": 604,
        "y": 2,
        "rotation": 0,
        "width": 6,
        "height": 6
    }
}