{"blendMode":"color-dodge","loop":false,"debug":false,"params":[{"alphaDecayFn":"cubicOut","weight":1,"frame":"sh5","width":10,"height":10,"offsetX":[0,0],"offsetY":[0,0],"lifetime":[1,1],"velX":[-30,30],"velY":[-100,-35],"accX":[0,0],"accY":[170,180],"alpha":[0.5,1]}],"hitbox":{"x":-35,"y":-34.411764705882355,"width":70,"height":94.41176470588235},"randomDistribution":true,"size":30}