{
 "blendMode": "color-dodge",
 "loop": true,
 "debug": false,
 "params": [
  {
   "alphaDecayFn": "",
   "weight": 1,
   "frame": "orb1",
   "width": 24,
   "height": 24,
   "offsetX": [
    0,
    0
   ],
   "offsetY": [
    0,
    0
   ],
   "lifetime": [
    0.6,
    1.2
   ],
   "velX": [
    -8,
    8
   ],
   "velY": [
    -40,
    -20
   ],
   "accX": [
    0,
    0
   ],
   "accY": [
    0,
    0
   ],
   "alpha": [
    1,
    1
   ]
  }
 ],
 "hitbox": {
  "x": -21.6,
  "y": -60,
  "width": 43.2,
  "height": 48
 },
 "randomDistribution": true,
 "size": 16
}