{"blendMode":"source-over","loop":true,"params":[{"alphaDecayFn":"linear","weight":1,"frame":"fire","width":7,"height":7,"offsetX":[-37,30],"offsetY":[0,0],"lifetime":[0.5,1.8],"velX":[0,0],"velY":[-80,-45],"accX":[0,0],"accY":[0,0],"rotVel":[0,0],"alpha":[0.9,1]}], "randomDistribution":true,"size":40}