{
 "blendMode": "color-dodge",
 "loop": true,
 "debug": false,
 "params": [
  {
   "alphaDecayFn": "",
   "weight": 1,
   "frame": "orb",
   "width": 24,
   "height": 24,
   "offsetX": [
    0,
    0
   ],
   "offsetY": [
    0,
    0
   ],
   "lifetime": [
    0.7,
    1.4
   ],
   "velX": [
    -4,
    4
   ],
   "velY": [
    -4,
    4
   ],
   "accX": [
    0,
    0
   ],
   "accY": [
    0,
    0
   ],
   "alpha": [
    1,
    1
   ]
  }
 ],
 "hitbox": {
  "x": -17.6,
  "y": -26,
  "width": 35.2,
  "height": 52
 },
 "randomDistribution": true,
 "size": 6
}