{"blendMode":"source-over","loop":true,"params":[{"alphaDecayFn":"linear","weight":1,"frame":"orb","width":24,"height":24,"offsetX":[0,0],"offsetY":[0,0],"lifetime":[0.5,1],"velX":[-2,2],"velY":[-5,5],"accX":[0,0],"accY":[0,0],"rotVel":[0,0],"alpha":[0.9,1]}],"hitbox":{"x":-14,"y":-17,"width":28,"height":34},"randomDistribution":true,"size":6}