.orbTxt {
    white-space: nowrap;
    font-size: 2em;
    font-family: monospace;
    color: #ffe6d5;
    user-select: none;
    transition: opacity 0.25s linear;
}
.timer {
    font-family: monospace;
    color: #ffe6d5;
    font-size: 16px;
    letter-spacing: 2px;
    user-select: none;
    transition: opacity 0.25s linear;
}
.hidden {
    opacity: 0;
}