.orbTxt {
    white-space: nowrap;
    font-size: 2em;
    font-family: monospace;
    color: #ffe6d5;
    user-select: none;
    transition: opacity 0.25s linear;
}
.timer {
    font-family: monospace;
    color: #ffe6d5;
    font-size: 16px;
    letter-spacing: 2px;
    user-select: none;
    transition: opacity 0.25s linear;
}
.hidden {
    opacity: 0;
}
.overlay {
    border-radius: 5px;
    background: #333366;
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: 9999;
}
.time {
    color: #ffe6d5;
    font-size: 16px;
    font-family: monospace;
    white-space: nowrap;
    z-index: 99999;
}
.timeVal {
    color: #d45500;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    z-index: 99999;
}