.prevBtn {
    transform: scale(-1, 1);
}
.infoTitle {
    color: #ffe6d5;
    font-size: 2em;
    font-family: monospace;
    font-weight: 700;
    white-space: nowrap;
    z-index: 999999;
}
.infoSub {
    font-size: 1.2em;
}
.lock {
    transition: opacity linear 0.125s;
    opacity: 0;
}
.startBtn {
    transition: opacity linear 0.250s;
}
.playBtn:hover {
    opacity: 1;
}
.loadingDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffe6d5;
    animation-name: loading;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}
.dotA {
    animation-delay: 0s;
}
.dotB {
    animation-delay: 0.25s;
    margin-left: 16px;
}
.dotC {
    animation-delay: 0.5s;
    margin-left: 32px;
}
@keyframes loading {
    0% { opacity: 0 }
    100% { opacity: 1 }
}