.prevBtn {
    transform: scale(-1, 1);
}
.infoTitle {
    color: #ffe6d5;
    font-size: 2em;
    font-family: monospace;
    font-weight: 700;
    white-space: nowrap;
    z-index: 999999;
}
.infoSub {
    color: white;
}
.lock {
    transition: opacity linear 0.125s;
    opacity: 0;
}
.startBtn {
    transition: opacity linear 0.125s;
}