.orbTxt {
    white-space: nowrap;
    font-size: 2em;
    font-family: monospace;
    color: #ffe6d5;
}
.timer {
    font-family: monospace;
    color: #ffe6d5;
    font-size: 16px;
    letter-spacing: 2px;
}